p {
    color: white;
}

header {
    background-color: rgb(168, 198, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .logo {
        cursor: pointer;
        height: 4rem;
    }

    .ranking {
        cursor: pointer;
        height: 4rem;
    }

    .logout {
        cursor: pointer;
        margin-left: 2rem;
        height: 3rem;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .finish-message {
        font-size: 2rem;
        margin-top: 3rem;
        color: #00f7ff;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 40%;
        height: 100%;
        padding-top: 2rem;

        &--main-load {
            height: 40%;
            width: 20%;
        }

        &__hint {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &__title {
                display: flex;
                align-items: center;

                img {
                    height: 3rem;
                    width: 3rem;
                    margin-right: 1rem;
                    margin-bottom: .4rem;
                }
            }

            u {
                color: white;
                font-size: 2rem;
            }
        }

        &__guess {
            display: flex;
            flex-direction: column;
            align-items: center;

            &--title {
                margin-top: 3rem;
            }

            &--input {
                height: 3.5rem;
                width: 10rem;
                margin-top: .5rem;
                border-radius: .5rem;
                border: solid 5px #448fff;
                font-size: 3rem;
                text-align: center;
                outline: none;
            }

            &__attempts {
                display: flex;
                justify-content: center;
                font-size: 1.4rem;
                gap: 10px;
                margin-top: .5rem;

                &--number {
                    color: #1a9e00;
                }
            }

            &__total-remaining-hints {
                display: flex;
                justify-content: center;
                font-size: 1.4rem;
                gap: 10px;
                margin-top: .5rem;

                &--number {
                    color: #D36804;
                }
            }

            &__number-remaining-hints {
                display: flex;
                justify-content: center;
                font-size: 1.4rem;
                gap: 10px;
                margin-top: .5rem;

                &--number {
                    color: #00f7ff;
                }
            }
        }

        &__send-guess-btn {
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 1.5rem;
            font-size: 1.4rem;
            border-radius: .5rem;
            background-color: #006115;
            width: 16rem;
            height: 2.5rem;
            border: solid 1px #051f00;

            img {
                height: 2rem;
                width: 2rem;
            }

            &:disabled {
                cursor: not-allowed;
                background-color: #2e5a37;
            }
        }

        &__new-hint-btn {
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 1rem;
            font-size: 1.4rem;
            border-radius: .5rem;
            background-color: #D36804;
            width: 11rem;
            height: 2.5rem;
            border: solid 1px #000000;


            &:disabled {
                cursor: not-allowed;
                background-color: #cc945f;
            }
        }
    }
}

.blue-text {
    color: #0688FF;
    font-size: 3rem;
}


@media (max-width: 1200px) {
    main {
        .container {
            flex: 1;

            &__hint u {
                padding: 0 .2rem;
            }
        }
    }

    header {
        padding: 0;

        .logo {
            height: 3rem;
        }

        .ranking {
            height: 2.5rem;
        }

        .logout {
            height: 2rem;
            margin-left: .5rem;
        }
    }

    body {
        height: calc(100vh - 5rem);
    }
}