<body>
    <header>
        <img class="logo" src="assets/img/resolve-ai-logo.png" alt="Logo resolve aí"
            (click)="baseService.navigateByUrl(0)">

        <div>
            <img class="ranking" src="assets/icon/ranking.svg" (click)="baseService.navigateByUrl(2)">

            <img class="logout" src="assets/icon/logout.svg" (click)="baseService.logout()">
        </div>
    </header>

    <main>
        @if (!hasFinishedChallenge) {
        <section class="container">
            @if (isLoading) {
            <img class="container--main-load" src="assets/img/load.gif">
            }

            @if (!isLoading) {
            <div class="container__hint">
                <div class="container__hint__title">
                    <img src="assets/icon/hint.svg">

                    <p class="blue-text">DICA:</p>
                </div>

                <u>{{ currentNumber.hintName }}</u>

                <button class="container__new-hint-btn" (click)="changeHint()" [disabled]="disableButtons">
                    <p>NOVA DICA</p>

                    <img src="assets/icon/refresh.svg">
                </button>
            </div>

            <div class="container__guess">
                <p class="container__guess--title blue-text">PALPITE:</p>

                <input type="number" class="container__guess--input" [(ngModel)]="guessNumber">

                <div class="container__guess__attempts">
                    <p class="container__guess__attempts--number">{{ remainingAttemptsPerNumber }}</p>
                    <p>Tentativa(s)</p>
                </div>

                <div class="container__guess__number-remaining-hints">
                    <p class="container__guess__number-remaining-hints--number">{{ remainingHintsPerNumber }}</p>
                    <p>Dica(s) por número restantes</p>
                </div>

                <div class="container__guess__total-remaining-hints">
                    <p class="container__guess__total-remaining-hints--number">{{ totalRemainingHints }}</p>
                    <p>Dica(s) totais restantes</p>
                </div>
            </div>

            <button class="container__send-guess-btn" (click)="sendGuess()" [disabled]="disableButtons">
                <p>ENVIAR PALPITE</p>

                <img src="assets/icon/check.svg">
            </button>
            }
        </section>
        }

        @if (hasFinishedChallenge) {
        <p class="finish-message">Você já realizou o desafio hoje. Tente novamente amanhã!</p>
        }
    </main>
</body>