<body>
    <header>
        <img class="logo" src="assets/img/resolve-ai-logo.png" alt="Logo resolve aí" (click)="baseService.navigateByUrl(0)">

        <img class="ranking" src="assets/icon/ranking.svg" (click)="baseService.navigateByUrl(2)">
    </header>

    <main>
        <section class="container">
            <div class="container__hint">
                <div class="container__hint__title">
                    <img src="assets/icon/hint.svg">

                    <p class="blue-text">DICA:</p>
                </div>

                <u>{{ currentNumber.hint }}</u>

                <button class="container__new-hint-btn" (click)="test()" [disabled]="disableButtons">
                    <p>NOVA DICA</p>   
                    
                    <img src="assets/icon/refresh.svg">
                </button>
            </div>

            <div class="container__guess">
                <p class="container__guess--title blue-text">PALPITE:</p>

                <input type="number" class="container__guess--input" [(ngModel)]="guessNumber">

                <div class="container__guess__attempts">
                    <p class="container__guess__attempts--number">{{ numberRemainingAttempts }}</p>
                    <p>Tentativa(s)</p>
                </div>

                <div class="container__guess__total-remaining-hints">
                    <p class="container__guess__total-remaining-hints--number">{{ totalRemainingHints }}</p>
                    <p>Dica(s) totais restantes</p>
                </div>

                <div class="container__guess__number-remaining-hints">
                    <p class="container__guess__number-remaining-hints--number">{{ numberRemainingHints }}</p>
                    <p>Dica(s) por número restantes</p>
                </div>
            </div>

            <button class="container__send-guess-btn" (click)="sendGuess()" [disabled]="disableButtons">
                <p>ENVIAR PALPITE</p>   
                
                <img src="assets/icon/check.svg">
            </button>
        </section>
    </main>
</body>
