<body>
    <header>
        <img src="assets/img/resolve-ai-logo.png" alt="Logo resolve aí">
    </header>

    <main>
        <section class="container">
            <p class="blue-text">RANKING</p>

            <table>
                <tr>
                  <th>Nome</th>
                  <th>País</th>
                  <th>Pontos</th>
                </tr>
                <tr>
                  <td>João</td>
                  <td>Brasil</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>Maria</td>
                  <td>Portugal</td>
                  <td>85</td>
                </tr>
                <tr>
                  <td>Carlos</td>
                  <td>Espanha</td>
                  <td>75</td>
                </tr>
                <tr>
                  <td>Ana</td>
                  <td>Itália</td>
                  <td>90</td>
                </tr>
                <tr>
                  <td>Luis</td>
                  <td>França</td>
                  <td>80</td>
                </tr>
              </table>
        </section>
    </main>
</body>