header {
    background-color: rgb(168, 198, 253);
    height: 6rem;
    display: flex;
    justify-content: center;

    img {
        height: 11rem;
    }
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 40%;
        height: 100%;
        background-color: blue;
        padding-top: 2rem;

        &__hint {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &__title {
                display: flex;
                align-items: center;

                img {
                    height: 3rem;
                    width: 3rem;
                    margin-right: 1rem;
                    margin-bottom: .4rem;
                }
            }

            u {
                color: white;
                font-size: 2rem;
            }
        }

        &__guess {
            display: flex;
            flex-direction: column;
            align-items: center;

            &--title {
                margin-top: 3rem;
            }
    
            &--input {
                height: 3.5rem;
                width: 10rem;
                margin-top: .5rem;
                border-radius: .5rem;
                border: solid 5px #448fff;
                font-size: 3rem;
                text-align: center;
            }

            &__remaining-hints {
                display: flex;
                justify-content: center;
                font-size: 1.4rem;
                gap: 10px;                

                &--number {
                    color: #D36804;
                }

                &--text {
                    color: white;
                }
            }
        }
    }
}

.blue-text {
    color: #0688FF;
    font-size: 3rem; 
}



@media (max-width: 1200px) {
    main {
        .container {
            flex: 1;
        }
    }

    header {
        height: 5rem;

        img {
            height: 9rem;
        }
    }
}