<body>
    <header>
        <img class="logo" src="assets/img/resolve-ai-logo.png" alt="Logo resolve aí" (click)="baseService.navigateByUrl(0)">

        <img class="ranking" src="assets/icon/ranking.svg" (click)="baseService.navigateByUrl(2)">
    </header>

    <main>
        <section class="container">
            <div class="container__hint">
                <div class="container__hint__title">
                    <img src="assets/icon/hint.svg">

                    <p class="blue-text">DICA:</p>
                </div>

                <u>É o quarto número primo começando em 0</u>
            </div>

            <div class="container__guess">
                <p class="container__guess--title blue-text">PALPITE:</p>

                <input type="number" class="container__guess--input">

                <div class="container__guess__remaining-hints">
                    <p class="container__guess__remaining-hints--number">{{ remainingHints }}</p>
                    <p>Dicas restantes</p>
                </div>
            </div>

            <button class="container__new-hint-btn">
                <p>NOVA DICA</p>   
                
                <img src="assets/icon/refresh.svg">
            </button>
        </section>
    </main>
</body>
