<body>
    <header>
        <img src="assets/img/resolve-ai-logo.png" alt="Logo resolve aí">
    </header>

    <main>
        <section class="container">
            <div class="container__hint">
                <div class="container__hint__title">
                    <img src="assets/icon/hint.svg">

                    <p class="blue-text">DICA:</p>
                </div>

                <u>É o quarto número primo começando em 0</u>
            </div>

            <p class="container--guess blue-text">PALPITE:</p>

            <input type="text" class="container--main-input">
        </section>
    </main>
</body>