p {
    color: white;
}

header {
    background-color: rgb(168, 198, 253);    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .logo {
        cursor: pointer;
        height: 4rem;
    }

    .game {
        cursor: pointer;
        height: 4rem;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .container {
        display: flex;
        flex-direction: column;    
        align-items: center;
        justify-content: center;
        flex: 0 0 40%;
        height: 100%;
        padding-top: 2rem;

        &__register {
            display: flex;
            flex-direction: column;
            align-items: center;

            &--input {
                height: 2rem;
                width: 18rem;
                margin-top: .5rem;
                border-radius: .5rem;
                border: solid 5px #448fff;
                font-size: 1.5rem;
                outline: none;
                
                -ms-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                -webkit-box-sizing: content-box;
            }
        }

        &__submit-btn {
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 2rem;
            font-size: 1.4rem;
            border-radius: .5rem;
            background-color: #006115;
            width: 11rem;
            height: 2.5rem;
            border: solid 1px #051f00;

            img {
                height: 1.5rem;
            }
        }
    }
}

.blue-text {
    color: #0688FF;
    font-size: 3rem; 
}

@media (max-width: 1200px) {
    main {
        .container {
            flex: 1;

            &__register {
                text-align: center;
            }
        }
    }

    header {
        .logo {
            height: 3rem;
        }

        .game {
            height: 3rem;
        }
    }

    body {
        height: calc(100vh - 5rem);
    }
}
