<body>
  <header>
    <img class="logo" src="assets/img/resolve-ai-logo.png" alt="Logo resolve aí" (click)="baseService.navigateByUrl(0)">

    <img class="game" src="assets/icon/game.svg" (click)="baseService.navigateByUrl(0)">
  </header>

  <main>
    <section class="container">
      <p class="blue-text">RANKING</p>

      <table>
        <tr>
          <th>Nome</th>
          <th>País</th>
          <th>Pontos</th>
        </tr>
        @for (ranking of rankingResponse; track ranking) {
        <tr>
          <td>{{ ranking.name }}</td>
          <td>{{ ranking.country }}</td>
          <td>{{ ranking.totalPoints }}</td>
        </tr>
        }
      </table>

      <footer>
        <p class="arrow-left" (click)="changePage(-1)"><<</p>
        <p>Alterar página ({{ currentPage }})</p>
        <p class="arrow-right" (click)="changePage(1)">>></p>
      </footer>
    </section>
  </main>
</body>